.blog-list
	width 68%
	.title
		background #fff
		border 1px solid border-color
		border-radius 4px
		padding 10px 20px 20px
		margin-bottom 20px
		h2
			border-left 5px solid color-main
			padding-left 10px
	.list-box
		li
			background #fff
			padding 20px
			margin-bottom 10px
			overflow hidden
			border 1px solid border-color
			border-radius 4px
			.meta
				color #999
				font-size font-size-samll
				span
					margin-right 20px
				time
					margin-right 20px
				i
					margin-right 6px
				a
					color #999
			.note
				margin 20px 0 10px
				color #999
				height 40px
				overflow hidden
	.el-pagination
		text-align center
		margin 20px 0
.hot-tag-box
	width 30%
	background #fff
	border 1px solid border-color
	border-radius 4px

.article_detail
	background color-white
	border 1px solid border-color
.author
	svg
		width 13px