.blog-list
	width 68%
	.title
		background #fff
		border 1px solid #ddd
		border-radius 4px
		padding 20px
		h2
			border-left 4px solid color-main
			text-indent 10px
.hot-tag-box
	width 30%
	background #fff
	border 1px solid #ddd
	border-radius 4px