//主色
color-main = #1e94e5
color-main-hover = #037cce

// 高光色
color-orange = #ff9f51

// 灰度
color-dark = #666
color-dark-less = #999
color-grey = #ccc
color-grey-less = #ddd
color-light = #e4e4e4
color-lighter = #eaedf1
color-light-less = #F3F3F3
color-white = #fff

// 异常色
color-alert = #F6B550
color-error = #D0021B
color-success = #04BA92
color-disabled = #d9d9d9

//红色
 color-red = #f00

// 导航色系
logo-bg-color = #37167c
menu-bg-color = #5a3c99
menu-bg-color-hover = #37167c
aside-bg-start-color = #47309f
aside-bg-center1-color = #4d2b73
aside-bg-center2-color = #582c84
aside-bg-end-color = #57309f

//可选项背景色
optional-bg-color = #f2f2f2
footer-bg-color = #454545

// 常用背景色
body-bg-color = color-light-less
bg-color-white = color-white
bg-color-light = color-light
current-bg-color = color-orange
bg-color-main = color-main
bg-color-main-hover = color-main-hover

// 字体颜色
text-color-nav = #c4b8e3
text-color-sub-nav = #bcd3fa
text-color-white = color-white
text-color-default = color-dark
text-color-light = color-dark-less
text-color-highlight = color-orange
text-color-main = color-main
text-color-main-hover = color-main-hover

// 边线
border-color = #eaeaea
border-color-default = color-light
boder-color-hover = #b4bccc
border-color-focus = color-main





