#app
	header
		background color-main
		.header-box
			width 90%
			margin 0 auto
			height 60px
			line-height 60px
			overflow hidden
			a
				color #fff
#footer
	padding 10px 0
	text-align center
#page-container
	width 90%
	margin 20px auto
	min-height calc(100% - 161px)
	overflow hidden