#app
	.header-box
		background color-main
		header
			width 1200px
			margin 0 auto
			height 60px
			line-height 60px
			overflow hidden
			a
				color #fff
#footer
	line-height 40px
	text-align center
#page-container
	width 1200px
	margin 20px auto