#app
	header
		background color-main
		.header-box
			width 1200px
			margin 0 auto
			height 60px
			line-height 60px
			overflow hidden
			a
				color #fff
#footer
	padding 20px 0
	color color-white
	text-align center
	background #000
#page-container
	width 1200px
	margin 20px auto
	min-height calc(100% - 161px)
	overflow hidden