// space
space = 10px

nav-width = 210px

//header height
header-height = 46px

//font size
font-size-samll = 12px
font-size-default = 14px
font-size-big = 16px
font-size-bigger = 18px
font-size-large = 28px

//font-weight
font-weight-normal = 500
font-weight-bold = 700


//el-button height
button-small = 30px
button-default = 40px
button-big = 50px